@import '../../styles/global.scss';

.container-max-width {
  // Warning: max-width: min-content is under development
  // If infeasible, use max-width: 423px to emulate
  // Working on Chrome as of 2019-04-04
  max-width: min-content;
}

.section-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: primary-color(base);
  padding: 0 3rem;
}

.footer-full-width {
  left: 0;
}
