@import "_variables.scss";
@import "bootstrap-override.scss";

.navbar {
  background: primary-color(base);
  color: neutral-color(white-1);
}

body {
  background: electric-blue(dark-darkest);
  color: #fff;
}
